html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-weight: 100; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select, textarea {
  vertical-align: middle;
  border: none; }

button {
  border: none;
  background: transparent;
  cursor: pointer;
  line-height: 1; }

body {
  background: #f2f1f2;
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

html, body {
  height: 100%;
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased; }

::-webkit-input-placeholder {
  color: #2a2b2b; }

::-moz-placeholder {
  color: #2a2b2b; }

:-ms-input-placeholder {
  color: #2a2b2b; }

::placeholder {
  color: #2a2b2b; }

body {
  margin: 0;
  padding: 0; }

.login {
  background: #38a9db;
  height: 100%; }

.login__panel {
  background: #ffffff;
  width: 600px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -300px;
  border-radius: 10px;
  overflow: auto;
  box-sizing: border-box;
  padding: 50px; }
  .login__panel .text-field {
    margin-bottom: 20px; }

.panel__heading {
  font-weight: 100;
  font-size: 28px;
  margin: 0;
  margin-bottom: 30px;
  color: #38a9db; }

.text-field {
  width: 100%;
  background: #f2f1f2;
  box-sizing: border-box;
  padding: 11px 20px;
  color: #2a2b2b;
  border-radius: 8px;
  border: none;
  font-size: 16px; }

.login__button {
  margin: 40px auto 0 auto;
  color: #ffffff;
  background: #38a9db;
  cursor: pointer;
  width: 150px;
  font-size: 20px;
  padding: 15px 0;
  display: block;
  border-radius: 8px;
  border: none; }
  .login__button:hover, .login__button:focus {
    background: #63bce3; }

.login__remember, .login__recover {
  color: #38a9db;
  font-size: 16px; }

.login__remember {
  margin-left: 20px;
  cursor: pointer; }
  .login__remember input {
    margin-left: 10px; }

.login__recover {
  text-decoration: none;
  float: right; }

.header {
  background: #ffffff;
  height: 60px; }

.wrapper {
  width: 1000px;
  margin: 0 auto; }

.header__heading {
  font-size: 20px;
  float: left;
  width: 250px;
  padding: 28px 0 0 20px;
  margin-right: 30px; }

.menu__list-item {
  float: left;
  font-size: 0;
  padding: 0 10px; }

.menu__list-item__anchor, .menu__list-item__button {
  font-size: 17px;
  padding: 30px 5px 13px;
  display: inline-block;
  color: #38a9db;
  outline: none; }
  .menu__list-item__anchor:hover, .menu__list-item__button:hover, .menu__list-item__anchor:focus, .menu__list-item__button:focus {
    border-bottom: 2px solid #38a9db; }

.menu__list-item__button {
  display: block; }

.submenu {
  width: 250px;
  margin: 50px 30px 0 0;
  float: left; }

.module {
  font-size: 16px; }
  .module:not(:last-child) {
    padding-bottom: 30px; }

.module__heading {
  display: block;
  padding: 17px 20px;
  background: #38a9db;
  color: #ffffff; }

.module__add {
  display: block;
  padding: 17px 20px;
  color: #38a9db;
  background: #ffffff; }

.main {
  background: #f2f1f2;
  padding: 50px 0;
  height: 100%;
  width: 1000px;
  margin: 0 auto; }

.content__container {
  height: 100%;
  float: left;
  width: calc(100% - 280px); }

.content-trail {
  height: 50px;
  line-height: 50px; }
  .content-trail a, .content-trail span {
    color: #9ea0a1; }
  .content-trail span {
    margin: 0 5px; }

.content__header {
  background: #38a9db;
  height: 50px;
  vertical-align: middle;
  position: relative;
  font-size: 16px; }

.content__header__heading {
  margin: 17px 30px;
  float: left;
  color: #ffffff; }

.content__header__add {
  padding: 17px 30px;
  display: block;
  float: right;
  color: #ffffff; }

.content {
  padding: 30px;
  background: #ffffff;
  min-height: 100%; }

.content__overview {
  margin-top: 30px;
  border-spacing: 0 10px;
  border-collapse: separate;
  width: 100%; }

.overview__header {
  color: #38a9db; }
  .overview__header th {
    text-align: left;
    padding: 0 20px; }

.overview__results tr {
  border-radius: 10px;
  cursor: pointer; }

.overview__results td {
  padding: 10px 0 10px 20px;
  background: #f2f1f2; }
  .overview__results td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px; }
  .overview__results td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; }

.edit-cell a {
  font-size: 0; }
  .edit-cell a::before {
    content: '\270E';
    font-size: 18px;
    color: #9ea0a1; }

td.edit-cell, td.destroy-cell {
  padding-right: 20px;
  padding-left: 0;
  width: 20px; }

.destroy-cell button {
  height: 10px;
  text-indent: -9999px;
  display: block;
  position: relative;
  height: 10px;
  width: 10px; }
  .destroy-cell button::before, .destroy-cell button::after {
    background: #BB002A;
    content: '';
    height: 3px;
    left: 25%;
    position: absolute;
    top: 50%;
    width: 17px; }
  .destroy-cell button::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .destroy-cell button::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }

.result-status {
  height: 20px;
  width: 20px;
  background: #ffffff;
  border-radius: 50%;
  position: relative;
  -webkit-transition: background 200ms linear;
  transition: background 200ms linear; }
  .result-status:hover, .result-status:focus {
    background: #38a9db; }

.result-status--active {
  height: 10px;
  width: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -5px;
  margin-left: -5px;
  border-radius: 50%;
  background: #38a9db; }

.input__container:not(:last-child) {
  margin-bottom: 30px; }

.input__label {
  margin: 0 20px;
  color: #38a9db;
  font-size: 16px; }

.input__textfield, .input__textarea, .input__select, .input__file {
  margin-top: 10px;
  width: 100%;
  padding: 11px 20px;
  background: #f2f1f2;
  font-size: 14px;
  border-radius: 5px;
  box-sizing: border-box; }

.input__textarea {
  resize: vertical;
  height: 250px; }

.input__select {
  padding: 11px 20px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

.input__controls {
  margin-top: 80px;
  text-align: center;
  font-size: 0; }

.input__button--submit, .input__button--abort {
  width: 150px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  padding: 17px 0;
  color: #ffffff; }

.input__button--submit {
  background: #38a9db;
  margin-left: 10px; }
  .input__button--submit:hover, .input__button--submit:focus {
    background: #4eb2df; }

.input__button--abort {
  background: #f2f1f2;
  margin-right: 10px; }
  .input__button--abort:hover, .input__button--abort:focus {
    background: #e6e4e6; }

.overview__cover {
  font-size: 0; }
  .overview__cover li {
    position: relative;
    display: inline-block;
    width: 22%;
    cursor: pointer;
    padding-bottom: 22%;
    max-height: none;
    margin-right: 4%;
    margin-bottom: 4%;
    border-radius: 10px; }
    .overview__cover li:nth-of-type(4n) {
      margin-right: 0; }

.thumbnails {
  font-size: 0;
  list-style: none;
  width: 100%; }
  .thumbnails li {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    display: inline-block;
    position: relative;
    width: 22%;
    cursor: pointer;
    padding-bottom: 22%;
    max-height: none;
    margin-right: 4%;
    margin-bottom: 4%;
    border-radius: 10px;
    overflow: hidden; }
    .thumbnails li:nth-of-type(4n) {
      margin-right: 0; }
  .thumbnails .thumbnail {
    position: absolute; }
    .thumbnails .thumbnail.selected img {
      -webkit-filter: invert(100%);
              filter: invert(100%); }
    .thumbnails .thumbnail img {
      width: 150%; }

.sortable-ghost {
  opacity: 0; }
