@charset "UTF-8";
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-weight: 100; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select, textarea {
  vertical-align: middle;
  border: none; }

button {
  border: none;
  background: transparent;
  cursor: pointer;
  line-height: 1; }

@font-face {
  font-family: 'MyriadPro-Light';
  src: url(/fonts/myriadpro-light.eot);
  src: local("\263A\FE0E"), url(/fonts/myriadpro-light.eot?#iefix) format("embedded-opentype"), url(/fonts/myriadpro-light.woff2) format("woff2"), url(/fonts/myriadpro-light.woff) format("woff"), url(/fonts/myriadpro-light.ttf) format("truetype"), url(/fonts/myriadpro-light.svg#comfortaathin) format("svg");
  font-weight: 300;
  font-style: normal; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
  font-family: MyriadPro-Light, 'Myriad Pro Light', MyriadPro, 'Myriad Pro', Helvetica, Arial, sans-serif; }

body.myriadpro-light--loaded {
  font-family: 'MyriadPro-Light'; }

.main__button {
  -webkit-tap-highlight-color: transparent;
  background: transparent;
  display: block;
  height: 28px;
  overflow: hidden;
  position: absolute;
  width: 28px; }

.main__button--close {
  border: 1px solid #000000; }
  .main__button--close::before, .main__button--close::after {
    background: #000000;
    content: '';
    height: 1px;
    left: 25%;
    position: absolute;
    top: 50%;
    width: 50%; }
  .main__button--close::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .main__button--close::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }

.main__button--show {
  border: 1px solid #000000;
  margin-top: -15px;
  top: 50%; }
  .main__button--show::before, .main__button--show::after {
    content: '';
    position: absolute;
    left: 25%;
    width: 50%;
    border-top: 1px solid #000000; }
  .main__button--show::before {
    top: 50%;
    height: 4px;
    border-bottom: 1px solid #000000; }
  .main__button--show::after {
    top: 30%; }

.project__button {
  background-color: transparent;
  border: 1px solid #ffffff;
  display: inline-block;
  color: #ffffff;
  font-size: 9px;
  font-weight: 100;
  margin: 0 auto;
  outline: none;
  padding: .5em 2.5em; }

.social__button {
  -webkit-tap-highlight-color: transparent;
  background: transparent;
  height: 28px;
  font-size: 0;
  width: 28px;
  border: 1px solid #000000;
  overflow: hidden;
  display: block; }

.social__button--linkedin {
  background: url(/media/icons/linkedin.svg) no-repeat center/60%; }

.social__button--facebook {
  background: url(/media/icons/facebook.svg) no-repeat center/60%; }

.social__button--instagram {
  background: url(/media/icons/instagram.svg) no-repeat center/60%; }

.detail__button--show-more {
  display: block;
  outline: none;
  border: 1px solid #666666;
  font-weight: 100;
  font-size: 14px;
  background: transparent;
  -webkit-tap-highlight-color: transparent;
  padding: 7px 20px; }

.header__container {
  overflow-y: auto;
  background: #ffffff;
  height: 70px;
  position: relative; }
  .header__container .main__button--show {
    right: 20px; }

.header__heading {
  font-size: 21px;
  margin: 32px 20px 0 20px;
  color: #f05a54;
  font-weight: 100; }

.header__description {
  display: none; }

.menu {
  background-color: #f05a54;
  height: 260px;
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 150ms 0s;
  transition: opacity 150ms 0s;
  will-change: opacity;
  top: -260px;
  width: 100%; }
  .menu .main__button--close {
    top: 20px;
    right: 20px;
    border: 1px solid #ffffff; }
    .menu .main__button--close::before, .menu .main__button--close::after {
      background: #ffffff; }

.app {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 150ms ease;
  transition: -webkit-transform 150ms ease;
  transition: transform 150ms ease;
  transition: transform 150ms ease, -webkit-transform 150ms ease;
  will-change: transform;
  -webkit-overflow-scrolling: touch; }

.menu-open {
  background-color: #f05a54; }
  .menu-open .app {
    -webkit-transform: translate3d(0, 260px, 0);
            transform: translate3d(0, 260px, 0); }
  .menu-open .menu {
    opacity: 1; }

.nav {
  margin: 65px 15px 40px 15px; }

.nav__list-item {
  color: white;
  font-size: 21px;
  margin: 5px 0; }

.list-item__anchor {
  color: inherit;
  display: inline-block;
  padding: 9px 5px;
  text-decoration: none; }
  .list-item__anchor:hover, .list-item__anchor:focus {
    color: red; }

.projects-container {
  background-color: #000000; }

.project {
  position: relative;
  width: 50%;
  float: left; }
  .project:hover .project__detail, .project:focus .project__detail {
    opacity: .9; }

.project__image {
  width: 100%;
  height: auto; }
  .project__image img {
    display: block;
    width: 100%;
    height: auto; }

.project__detail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f05a54;
  opacity: 0;
  -webkit-transition: 100ms opacity ease-in;
  transition: 100ms opacity ease-in;
  text-align: center; }
  .project__detail::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; }

.project__header {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px; }

.project__discipline, .project__heading {
  color: #ffffff;
  text-align: center;
  font-weight: 100; }

.project__discipline {
  padding-bottom: .6em; }

.project__heading {
  padding-bottom: 1em; }

footer {
  margin-top: -1px;
  overflow: auto;
  position: relative;
  background: #ffffff; }

.links {
  margin: 10px 10px 20px 10px;
  overflow: auto; }

.link-group ul {
  list-style: none; }

.link-group:not(:last-child) {
  margin-bottom: 3px; }

.link-group__title {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  background-color: #dbdcde;
  font-size: 21px;
  padding: 9px 10px 5px 10px; }
  .link-group__title::after, .link-group__title::before {
    content: '';
    background-color: #f05a54;
    height: 1px;
    position: absolute;
    width: 18px;
    right: 10px;
    top: 50%;
    margin-top: -1px;
    -webkit-transition: 100ms -webkit-transform ease-in;
    transition: 100ms -webkit-transform ease-in;
    transition: 100ms transform ease-in;
    transition: 100ms transform ease-in, 100ms -webkit-transform ease-in; }
  .link-group__title::after {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg); }

.link-group__links {
  display: none;
  margin: 20px 10px; }

.link-group--active {
  display: block; }

.link-group__link {
  font-size: 14px;
  margin: 12px 0; }
  .link-group__link a[href] {
    text-decoration: none;
    color: inherit; }
    .link-group__link a[href]:hover, .link-group__link a[href]:focus {
      color: #f05a54; }

.link-group__button {
  display: inline-block;
  margin: 32px 18px 0 0; }

.detail__overview {
  position: relative;
  overflow-y: scroll;
  max-width: 1000px;
  -webkit-overflow-scrolling: touch;
  margin: 20px;
  margin-bottom: 30px; }

.detail__overview .main__button--close, .page .main__button--close {
  top: 0;
  right: 0;
  font-size: 0;
  height: 28px;
  width: 28px; }

.detail__description {
  font-size: 14px;
  line-height: 24px; }
  .detail__description p {
    max-height: 5em;
    overflow: hidden;
    -webkit-transition: 100ms max-height linear;
    transition: 100ms max-height linear; }

.detail__header {
  margin-top: 20px;
  overflow: hidden; }

.detail__discipline {
  font-size: 14px; }

.detail__heading {
  font-size: 21px;
  font-weight: 100;
  color: #f05a54; }
  .detail__heading:only-child {
    margin-top: 57px; }

.detail__heading, .detail__discipline {
  margin-bottom: 15px; }

.detail__photos {
  margin-top: 30px; }

.detail__button--show-more {
  margin: 30px auto 0 auto; }

.landscape img, .landscape figure, .portrait img, .portrait figure {
  width: 100%;
  display: block; }

.landscape:not(:last-child), .portrait:not(:last-child) {
  margin-bottom: 20px; }

.portrait {
  overflow: auto; }
  .portrait img, .portrait figure {
    float: left; }
    .portrait img:not(:last-child), .portrait figure:not(:last-child) {
      margin-bottom: 20px; }

.report:not(:first-child) {
  margin-top: 16px; }

.report {
  overflow: auto; }
  .report img {
    display: block;
    width: 100%;
    margin-top: 30px; }

.page {
  position: relative;
  overflow-y: scroll;
  max-width: 1000px;
  -webkit-overflow-scrolling: touch;
  margin: 20px;
  margin-bottom: 30px; }
  .page .link-group {
    float: none !important;
    margin-bottom: 0; }
    .page .link-group .link-group__links {
      display: block;
      margin: 0; }
    .page .link-group .link-group__link {
      font-size: 21px; }
    .page .link-group .link-group__button {
      margin: 30px 15px 0 0; }

#map {
  width: 100%;
  height: 200px;
  margin-top: 40px;
  background-color: grey; }

.page__heading {
  color: #f05a54;
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 21px; }

.page__paragraph {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 30px; }

.reports__table {
  display: none;
  font-size: 24px;
  width: 100%; }
  .reports__table thead tr {
    background: #f05a54; }
  .reports__table thead th {
    text-align: left;
    color: #ffffff;
    padding: 20px 0 16px 30px; }
  .reports__table tbody {
    background-color: #F0F0F0; }
    .reports__table tbody tr:nth-of-type(odd) {
      background-color: #FAF9F9; }
    .reports__table tbody td {
      padding: 20px 0 16px 30px; }

.page {
  overflow: auto; }
  .page > img {
    display: block;
    width: 100%;
    padding-top: 30px; }

.page .landscape:not(:last-child), .page .portrait:not(:last-child) {
  margin-bottom: 30px; }

.page .landscape figure img, .page .portrait figure img {
  width: 100%; }

.page .landscape figure figcaption, .page .portrait figure figcaption {
  display: inline-block;
  font-size: 14px;
  margin-top: 16px; }

.page .portrait img:not(:last-child) {
  margin-bottom: 0; }

@media (min-width: 375px){
  .main__button{
    height: 33px;
    width: 33px; }
  .main__button--show{
    margin-top: -16px; }
  .main__button--show::before{
    height: 6px; }
  .main__button--show::after{
    top: 28%; }
  .project__button{
    font-size: 10px; }
  .social__button{
    height: 33px;
    width: 33px; }
  .detail__button--show-more{
    font-size: 16px;
    padding: 8px 20px 9px 20px; }
  .header__container .main__button--show{
    right: 23px; }
  .header__container{
    height: 82px; }
  .header__heading{
    font-size: 25px;
    margin: 36px 23px 0 23px; }
  .menu .main__button--close{
    top: 23px;
    right: 23px; }
  .menu{
    top: -319px;
    height: 319px; }
  .menu-open .app{
    -webkit-transform: translate3d(0, 319px, 0);
    transform: translate3d(0, 319px, 0); }
  .nav{
    margin: 82px 17px 47px 17px; }
  .nav__list-item{
    margin: 6px 0;
    font-size: 25px; }
  .list-item__anchor{
    padding: 7px 6px; }
  .project__header{
    font-size: 14px; }
  .links{
    margin: 12px 12px 24px 12px; }
  .link-group__title::after, .link-group__title::before{
    width: 21px;
    right: 12px; }
  .link-group__title{
    font-size: 24px;
    padding: 20px 10px 12px 10px; }
  .link-group__links{
    margin: 24px 12px; }
  .link-group__link{
    font-size: 16px;
    margin: 19px 0; }
  .link-group__button{
    margin: 20px 25px 0 0; }
  .detail__overview{
    margin: 23px;
    margin-bottom: 33px; }
  .detail__overview .main__button--close, .page .main__button--close{
    height: 33px;
    width: 33px; }
  .detail__description{
    font-size: 16px;
    line-height: 28px; }
  .detail__header{
    margin-top: 23px; }
  .detail__discipline{
    font-size: 16px; }
  .detail__heading{
    font-size: 25px; }
  .detail__heading, .detail__discipline{
    margin-bottom: 20px; }
  .detail__photos{
    margin-top: 35px; }
  .detail__button--show-more{
    margin-top: 35px; }
  .landscape:not(:last-child), .portrait:not(:last-child){
    margin-bottom: 24px; }
  .portrait img:not(:last-child), .portrait figure:not(:last-child){
    margin-bottom: 24px; }
  .report:not(:first-child){
    margin-top: 23px; }
  .report img{
    margin-top: 35px; }
  .page .link-group .link-group__link{
    font-size: 16px; }
  .page .link-group .link-group__button{
    margin: 16px 18px 0 0; }
  .page{
    margin: 23px;
    margin-bottom: 33px; }
  #map{
    margin-top: 35px; }
  .page__heading{
    font-size: 25px;
    margin-top: 72px;
    margin-bottom: 20px; }
  .page__paragraph{
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 35px; }
  .page > img{
    padding-top: 35px; }
  .page .landscape:not(:last-child), .page .portrait:not(:last-child){
    margin-bottom: 35px; }
  .page .landscape figure figcaption, .page .portrait figure figcaption{
    font-size: 16px;
    margin-top: 19px; } }

@media (min-width: 768px){
  .main__button{
    height: 48px;
    width: 48px; }
  .main__button--show{
    margin-top: -25px; }
  .main__button--show::before{
    height: 9px; }
  .main__button--show::after{
    top: 28%; }
  .project__button{
    font-size: 14px; }
  .social__button{
    height: 48px;
    width: 48px; }
  .social__button{
    height: 38px;
    width: 38px; }
  .detail__button--show-more{
    font-size: 24px;
    padding: 11px 20px 11px 20px; }
  .header__container .main__button--show{
    right: 38px; }
  .header__container{
    height: 125px; }
  .header__heading{
    font-size: 38px;
    margin: 57px 38px 0 38px; }
  .menu .main__button--close{
    top: 38px;
    right: 38px; }
  .menu{
    top: -448px;
    height: 448px; }
  .menu-open .app{
    -webkit-transform: translate3d(0, 448px, 0);
    transform: translate3d(0, 448px, 0); }
  .nav{
    margin: 125px 31px 75px 31px; }
  .nav__list-item{
    margin: 8px 0;
    font-size: 38px; }
  .list-item__anchor{
    padding: 9px 7px; }
  .project{
    width: 33.33%; }
  .project__header{
    font-size: 19px; }
  .project__header{
    font-size: 26px; }
  .links{
    margin: 38px 38px 75px 28px; }
  .link-group:not(:last-child){
    margin-bottom: 5px; }
  .link-group__title::after, .link-group__title::before{
    width: 30px;
    right: 25px; }
  .link-group__title{
    font-size: 36px;
    padding: 26px 25px 18px 25px; }
  .link-group__links{
    margin: 38px 25px; }
  .link-group__link{
    font-size: 24px;
    margin: 15px 0; }
  .link-group__button{
    margin: 23px 25px 0 0; }
  .detail__overview{
    margin: 38px;
    margin-bottom: 48px; }
  .detail__overview .main__button--close, .page .main__button--close{
    height: 48px;
    width: 48px; }
  .detail__overview .main__button--close, .page .main__button--close{
    height: 38px;
    width: 38px; }
  .detail__description{
    font-size: 24px;
    line-height: 39px; }
  .detail__header{
    margin-top: 30px; }
  .detail__discipline{
    font-size: 24px; }
  .detail__heading{
    font-size: 36px; }
  .detail__heading, .detail__discipline{
    margin-bottom: 33px; }
  .detail__photos{
    margin-top: 55px; }
  .detail__button--show-more{
    margin-top: 55px; }
  .landscape:not(:last-child), .portrait:not(:last-child){
    margin-bottom: 38px; }
  .portrait img:not(:last-child), .portrait figure:not(:last-child){
    margin-bottom: 38px; }
  .report:not(:first-child){
    margin-top: 38px; }
  .report img{
    margin-top: 55px; }
  .page{
    margin: 30px;
    margin-bottom: 50px; }
  .page__heading{
    font-size: 36px;
    margin-top: 80px;
    margin-bottom: 20px; }
  .page__paragraph{
    font-size: 24px;
    line-height: 39px;
    margin-bottom: 55px; }
  .page > img{
    padding-top: 55px; }
  .page .landscape:not(:last-child), .page .portrait:not(:last-child){
    margin-bottom: 55px; }
  .page .landscape figure figcaption, .page .portrait figure figcaption{
    margin-top: 31px;
    font-size: 24px; } }

@media (min-width: 1024px){
  .project__button{
    font-size: 20px; }
  .header{
    margin: 60px auto;
    overflow-y: auto;
    width: 1000px; }
  .header__container .main__button--show{
    display: none; }
  .header__container{
    width: 800px;
    float: left;
    height: auto;
    margin-right: 66px; }
  .header__heading{
    margin: 0;
    font-size: 55px;
    height: 82px; }
  .header__description{
    display: block;
    font-size: 22px;
    line-height: 40px; }
  .menu .main__button--close{
    display: none; }
  .menu{
    position: static;
    background: transparent;
    float: left;
    will-change: auto;
    -webkit-transition: none;
    transition: none;
    opacity: 1;
    height: auto;
    width: 130px;
    margin-top: 82px; }
  .app{
    -webkit-transform: none;
    transform: none;
    will-change: auto;
    -webkit-transition: none;
    transition: none; }
  .menu-open{
    background-color: transparent; }
  .menu-open .app{
    -webkit-transform: none;
    transform: none; }
  .nav{
    margin: 0; }
  .nav__list-item{
    color: #000000;
    margin: 8px 0;
    font-size: 22px; }
  .list-item__anchor{
    overflow: auto;
    padding: 5px 4px; }
  .list-item__anchor:first-child{
    padding-top: 0; }
  .project{
    width: 25%; }
  .links{
    width: 1000px;
    margin: 60px auto; }
  .link-group{
    float: right; }
  .link-group__title::after, .link-group__title::before{
    content: none; }
  .link-group__title{
    background: transparent;
    color: #f05a54;
    padding: 0;
    font-size: 55px;
    height: 90px; }
  .link-group__links{
    margin: 0;
    display: block; }
  .link-group__link{
    font-size: 22px;
    padding: 9px 0;
    margin: 0; }
  .link-group__link:first-child{
    padding-top: 0; }
  .link-group__link:last-child{
    padding-bottom: 0; }
  .link-group--disciplines{
    width: 400px; }
  .link-group--clients{
    width: 360px; }
  .link-group--contact{
    width: 240px; }
  .link-group__button{
    margin: 50px 20px 0 0; }
  .detail__overview{
    margin-left: auto;
    margin-right: auto; }
  .detail__description p{
    max-height: 500px !important;
    overflow: auto; }
  .detail__button--show-more{
    display: none !important; }
  .portrait img, .portrait figure{
    width: calc(50% - 19px); }
  .portrait img:not(:last-child), .portrait figure:not(:last-child){
    margin-bottom: 0;
    margin-right: 38px; }
  .report img{
    margin-top: 30px; }
  .page .link-group{
    padding-top: 15px; }
  .page .link-group .link-group__link{
    font-size: 22px; }
  .page .link-group .link-group__button{
    margin: 30px 20px 0 0; }
  .page{
    margin-top: 60px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto; }
  #map{
    height: 600px;
    margin-top: 55px; }
  .page__heading{
    font-size: 55px;
    margin-top: 65px;
    margin-bottom: 45px; }
  .page__paragraph{
    font-size: 22px;
    line-height: 40px;
    margin-bottom: 30px; }
  .reports__table{
    display: table; }
  .page > img{
    padding-top: 15px;
    padding-bottom: 60px; }
  .page .landscape:not(:last-child), .page .portrait:not(:last-child){
    margin-bottom: 40px; }
  .page .landscape figure figcaption, .page .portrait figure figcaption{
    margin-top: 18px;
    font-size: 22px; } }

@media (min-width: 1920px){
  .project{
    width: 20%; } }
