body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $white;
  font-family: MyriadPro-Light, 'Myriad Pro Light', MyriadPro, 'Myriad Pro', Helvetica, Arial, sans-serif;
}

body.myriadpro-light--loaded {
  font-family: 'MyriadPro-Light';
}

html, body {
  // height: 100%;
}
