@font-face {
  font-family: 'MyriadPro-Light';
  src: url(../../../public/fonts/myriadpro-light.eot);
  src: local('☺︎'),
        url(../../../public/fonts/myriadpro-light.eot?#iefix) format('embedded-opentype'),
        url(../../../public/fonts/myriadpro-light.woff2) format('woff2'),
        url(../../../public/fonts/myriadpro-light.woff) format('woff'),
        url(../../../public/fonts/myriadpro-light.ttf) format('truetype'),
        url(../../../public/fonts/myriadpro-light.svg#comfortaathin) format('svg');
  font-weight: 300;
  font-style: normal;
}
