$dominant-color: #f05a54;

$white: #ffffff; 
$black: #000000;
$grey: #dbdcde;
$header-heading-height: 70px;
$header-menu-height: 260px;

$iphone6: 375px;
$ipad-mini: 768px;
$ipad-pro: 1024px;
$imac: 1920px;
