.main__button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background: transparent;
  display: block;
  height: 28px;
  overflow: hidden;
  position: absolute;
  width: 28px;
  @media (min-width: $iphone6) {
    height: 33px;
    width: 33px;
  }
  @media (min-width: $ipad-mini) {
    height: 48px;
    width: 48px;
  }
}

.main__button--close {
  border: 1px solid $black;
  &::before, &::after {
    background: $black;
    content: '';
    height: 1px;
    left: 25%;
    position: absolute;
    top: 50%;
    width: 50%;
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
}

.main__button--show {
  border: 1px solid $black;
  margin-top: -15px;
  top: 50%;
  &::before, &::after {
    content: '';
    position: absolute;
    left: 25%;
    width: 50%;
    border-top: 1px solid $black;
  }
  &::before {
    top: 50%;
    height: 4px;
    border-bottom: 1px solid $black;
  }
  &::after {
    top: 30%;
  }
  @media (min-width: $iphone6) {
    margin-top: -16px;
    &::before {
      height: 6px;
    }
    &::after {
      top: 28%;
    }
  }
  @media (min-width: $ipad-mini) {
    margin-top: -25px;
    &::before {
      height: 9px;
    }
    &::after {
      top: 28%;
    }
  }
}

.project__button {
  background-color: transparent;
  border: 1px solid $white;
  display: inline-block;
  color: $white;
  font-size: 9px;
  font-weight: 100;
  margin: 0 auto;
  outline: none;
  padding: .5em 2.5em;
  @media (min-width: $iphone6) {
    font-size: 10px;
  }
  @media (min-width: $ipad-mini) {
    font-size: 14px;
  }
  @media (min-width: $ipad-pro) {
    font-size: 20px;
  }
}


.social__button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background: transparent;
  height: 28px;
  font-size: 0;
  width: 28px;
  border: 1px solid $black;
  overflow: hidden;
  display: block;
  @media (min-width: $iphone6) {
    height: 33px;
    width: 33px;
  }
  @media (min-width: $ipad-mini) {
    height: 48px;
    width: 48px;
  }
  @media (min-width: $ipad-mini) {
    height: 38px;
    width: 38px;
  }
}

.social__button--linkedin {
  background: url(../../../public/media/icons/linkedin.svg) no-repeat center/60%;
}

.social__button--facebook {
  background: url(../../../public/media/icons/facebook.svg) no-repeat center/60%;
}

.social__button--instagram {
  background: url(../../../public/media/icons/instagram.svg) no-repeat center/60%;
}

.detail__button--show-more {
  display: block;
  outline: none;
  border: 1px solid lighten($black, 40%);
  font-weight: 100;
  font-size: 14px;
  background: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  padding: 7px 20px;
  @media (min-width: $iphone6) {
    font-size: 16px;
    padding: 8px 20px 9px 20px;
  }
  @media (min-width: $ipad-mini) {
    font-size: 24px;
    padding: 11px 20px 11px 20px;
  }
}
