footer {
  margin-top: -1px;
  overflow: auto;
  position: relative;
  background: $white;
}

.links {
  margin: 10px 10px 20px 10px;
  overflow: auto;
  @media (min-width: $iphone6) {
    margin: 12px 12px 24px 12px;
  }
  @media (min-width: $ipad-mini) {
    margin: 38px 38px 75px 28px;
  }
  @media (min-width: $ipad-pro) {
    width: 1000px;
    margin: 60px auto;
  }
}

.link-group {
  ul {
    list-style: none;
  }
  &:not(:last-child) {
    margin-bottom: 3px;
  }
  @media (min-width: $ipad-mini) {
    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }
  @media (min-width: $ipad-pro) {
    float: right;
  }
}

.link-group__title {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
  position: relative;
  background-color: $grey;
  font-size: 21px;
  padding: 9px 10px 5px 10px;
  &::after, &::before {
    content: '';
    background-color: $dominant-color;
    height: 1px;
    position: absolute;
    width: 18px;
    right: 10px;
    top: 50%;
    margin-top: -1px;
    transition: 100ms transform ease-in;
    @media (min-width: $iphone6) {
      width: 21px;
      right: 12px;
    }
    @media (min-width: $ipad-mini) {
      width: 30px;
      right: 25px;
    }
    @media (min-width: $ipad-pro) {
      content: none;
    }
  }
  &::after {
    transform: rotate(90deg);
  }
  @media (min-width: $iphone6) {
    font-size: 24px;
    padding: 20px 10px 12px 10px;
  }
  @media (min-width: $ipad-mini) {
    font-size: 36px;
    padding: 26px 25px 18px 25px;
  }
  @media (min-width: $ipad-pro) {
    background: transparent;
    color: $dominant-color;
    padding: 0;
    font-size: 55px;
    height: 90px;
  }
}

.link-group__links {
  display: none;
  margin: 20px 10px;
  @media (min-width: $iphone6) {
    margin: 24px 12px;
  }
  @media (min-width: $ipad-mini) {
    margin: 38px 25px;
  }
  @media (min-width: $ipad-pro) {
    margin: 0;
    display: block;
  }
}

.link-group--active {
  display: block;
}

.link-group__link {
  font-size: 14px;
  margin: 12px 0;
  a[href] {
    text-decoration: none;
    color: inherit;
    &:hover {
      color: $dominant-color;
    }
  }
  @media (min-width: $iphone6) {
    font-size: 16px;
    margin: 19px 0;
  }
  @media (min-width: $ipad-mini) {
    font-size: 24px;
    margin: 15px 0;
  }
  @media (min-width: $ipad-pro) {
    font-size: 22px;
    padding: 9px 0;
    margin: 0;
    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      padding-bottom: 0;
    }
  }
}

.link-group--disciplines {
  @media (min-width: $ipad-pro) {
    width: 400px;
  }
}

.link-group--clients {
  @media (min-width: $ipad-pro) {
    width: 360px;
  }
}

.link-group--contact {
  @media (min-width: $ipad-pro) {
    width: 240px;
  }
}

.link-group__button {
  display: inline-block;
  margin: 32px 18px 0 0;
  @media (min-width: $iphone6) {
    margin: 20px 25px 0 0;
  }
  @media (min-width: $ipad-mini) {
    margin: 23px 25px 0 0;
  }
  @media (min-width: $ipad-pro) {
    margin: 50px 20px 0 0;
  }
}
