.header {
  @media (min-width: $ipad-pro) {
    margin: 60px auto;
    overflow-y: auto;
    width: 1000px;
  }
}

.header__container {
	overflow-y: auto;
  background: $white;
  height: 70px;
  position: relative;
	.main__button--show {
		right: 20px;
		@media (min-width: $iphone6) {
			right: 23px;
		}
		@media (min-width: $ipad-mini) {
			right: 38px;
		}
    @media (min-width: $ipad-pro) {
      display: none;
    }
	}
  @media (min-width: $iphone6) {
    height: 82px;
  }
  @media (min-width: $ipad-mini) {
    height: 125px;
  }
  @media (min-width: $ipad-pro) {
    width: 800px;
    float: left;
    height: auto;
    margin-right: 66px;
  }
}

.header__heading {
	font-size: 21px;
	margin: 32px 20px 0 20px;
  color: $dominant-color;
  font-weight: 100;
  @media (min-width: $iphone6) {
    font-size: 25px;
    margin: 36px 23px 0 23px;
  }
  @media (min-width: $ipad-mini) {
    font-size: 38px;
    margin: 57px 38px 0 38px;
  }
  @media (min-width: $ipad-pro) {
    margin: 0;
    font-size: 55px;
    height: 82px; 
  }
}

.header__description {
  display: none;
  @media (min-width: $ipad-pro) {
    display: block;
    font-size: 22px;
    line-height: 40px;
  }
}

.menu {
  background-color: $dominant-color;
  height: 260px;
  position: absolute;
  opacity: 0;
  transition: opacity 150ms 0s;
  will-change: opacity;
  top: -260px;
  width: 100%;
	.main__button--close {
		top: 20px;
		right: 20px;
		border: 1px solid $white;
		&::before, &::after {
			background: $white;
		}
		@media (min-width: $iphone6) {
			top: 23px;
			right: 23px;
		}
		@media (min-width: $ipad-mini) {
			top: 38px;
			right: 38px;
		}
    @media (min-width: $ipad-pro) {
      display: none;
    }
	}
  @media (min-width: $iphone6) {
    top: -319px;
    height: 319px;
  }
  @media (min-width: $ipad-mini) {
    top: -448px;
    height: 448px;
  }
  @media (min-width: $ipad-pro) {
    position: static;
    background: transparent;
    float: left;
    will-change: auto;
    transition: none;
    opacity: 1;
    height: auto;
    width: 130px;
    margin-top: 82px;
  }
}

.app {
  transform: translate3d(0,0,0);
  transition: transform 150ms ease;
  will-change: transform;
  -webkit-overflow-scrolling: touch;
  @media (min-width: $ipad-pro) {
    transform: none;
    will-change: auto;
    transition: none;
  }
}

.menu-open {
	background-color: $dominant-color;
  .app {
    transform: translate3d(0, 260px, 0);
  }
  .menu {
    opacity: 1;
  }
  @media (min-width: $iphone6) {
    .app {
      transform: translate3d(0, 319px, 0);
    }
  }
  @media (min-width: $ipad-mini) {
    .app {
      transform: translate3d(0, 448px, 0);
    }
  }
  @media (min-width: $ipad-pro) {
    background-color: transparent;
    .app {
      transform: none;
    }
  }
}

.nav {
  margin: 65px 15px 40px 15px;
  @media (min-width: $iphone6) {
    margin: 82px 17px 47px 17px;
  }
  @media (min-width: $ipad-mini) {
    margin: 125px 31px 75px 31px;
  }
  @media (min-width: $ipad-pro) {
    margin: 0;
  }
}

.nav__list-item {
  color: white;
  font-size: 21px;
  margin: 5px 0;
  @media (min-width: $iphone6) {
    margin: 6px 0;
    font-size: 25px;
  }
  @media (min-width: $ipad-mini) {
    margin: 8px 0;
    font-size: 38px;
  }
  @media (min-width: $ipad-pro) {
    color: $black;
    margin: 8px 0;
    font-size: 22px;
  }
}

.list-item__anchor {
  color: inherit;
  display: inline-block;
  padding: 9px 5px;
  text-decoration: none;
  &:hover {
    color: red;
  }
  @media (min-width: $iphone6) {
    padding: 7px 6px;
  }
  @media (min-width: $ipad-mini) {
    padding: 9px 7px;
  }
  @media (min-width: $ipad-pro) {
    overflow: auto;
    padding: 5px 4px;
    &:first-child {
      padding-top: 0;
    }
  }
}
