.projects-container {
  background-color: $black;
  // overflow: hidden;
  // overflow-y: scroll;
  // -webkit-overflow-scrolling: touch;
}

.project {
  position: relative;
  width: 50%;
  float: left;
  &:hover .project__detail {
    opacity: .9;
  }
  @media (min-width: $ipad-mini) {
    width: 33.33%;
  }
  @media (min-width: $ipad-pro) {
    width: 25%;
  }
  @media (min-width: $imac) {
    width: 20%;
  }
}

.project__image {
  width: 100%;
  height: auto;
  & img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.project__detail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $dominant-color;
  opacity: 0;
  transition: 100ms opacity ease-in;
  text-align: center;
  &::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
  }
}

.project__header {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  @media (min-width: $iphone6) {
    font-size: 14px;
  }
  @media (min-width: $ipad-mini) {
    font-size: 19px;
  }
  @media (min-width: $ipad-mini) {
    font-size: 26px;
  }
}

.project__discipline, .project__heading {
  color: $white;
  text-align: center;
  font-weight: 100;
}

.project__discipline {
  padding-bottom: .6em;
}

.project__heading {
  padding-bottom: 1em;
}


