.detail__overview {
  position: relative;
  overflow-y: scroll;
  max-width: 1000px;
  -webkit-overflow-scrolling: touch;
  margin: 20px;
  margin-bottom: 30px;
  @media (min-width: $iphone6) {
    margin: 23px;
    margin-bottom: 33px;
  }
  @media (min-width: $ipad-mini) {
    margin: 38px;
    margin-bottom: 48px;
  }
  @media (min-width: $ipad-pro) {
    margin-left: auto;
    margin-right: auto;
  }
}

.detail__overview, .page {
  .main__button--close {
    top: 0;
    right: 0;
    font-size: 0;
    height: 28px;
    width: 28px;
    @media (min-width: $iphone6) {
      height: 33px;
      width: 33px;
    }
    @media (min-width: $ipad-mini) {
      height: 48px;
      width: 48px;
    }
    @media (min-width: $ipad-mini) {
      height: 38px;
      width: 38px;
    }
  }
}

.detail__description {
  font-size: 14px;
  line-height: 24px;
  p {
    max-height: 5em;
    overflow: hidden;
    transition: 100ms max-height linear;
    @media (min-width: $ipad-pro) {
      max-height: 500px !important;
      overflow: auto;
    }
  }
  @media (min-width: $iphone6) {
    font-size: 16px;
    line-height: 28px;
  }
  @media (min-width: $ipad-mini) {
    font-size: 24px;
    line-height: 39px;
  }
}

.detail__header {
  margin-top: 20px;
  overflow: hidden;
  @media (min-width: $iphone6) {
    margin-top: 23px;
  }
  @media (min-width: $ipad-mini) {
    margin-top: 30px;
  }
}

.detail__discipline {
  font-size: 14px;
  @media (min-width: $iphone6) {
    font-size: 16px;
  }
  @media (min-width: $ipad-mini) {
    font-size: 24px;
  }
}

.detail__heading {
  font-size: 21px;
  font-weight: 100;
  color: $dominant-color;
  @media (min-width: $iphone6) {
    font-size: 25px;
  }
  @media (min-width: $ipad-mini) {
    font-size: 36px;
  }
  &:only-child {
    margin-top: 57px;
  }
}

.detail__heading, .detail__discipline {
  margin-bottom: 15px;
  @media (min-width: $iphone6) {
    margin-bottom: 20px;
  }
  @media (min-width: $ipad-mini) {
    margin-bottom: 33px;
  }
}

.detail__photos {
  margin-top: 30px;
  @media (min-width: $iphone6) {
    margin-top: 35px;
  }
  @media (min-width: $ipad-mini) {
    margin-top: 55px;
  }
}

.detail__button--show-more {
  margin: 30px auto 0 auto;
  @media (min-width: $iphone6) {
    margin-top: 35px;
  }
  @media (min-width: $ipad-mini) {
    margin-top: 55px;
  }
  @media (min-width: $ipad-pro) {
    display: none !important;
  }
}

.landscape, .portrait {
  img, figure {
    width: 100%;
    display: block;
  }
  &:not(:last-child) {
    margin-bottom: 20px;
    @media (min-width: $iphone6) {
      margin-bottom: 24px;
    }
    @media (min-width: $ipad-mini) {
      margin-bottom: 38px;
    }
  }
}

.portrait {
  overflow: auto;
  img, figure {
    float: left;
    &:not(:last-child) {
      margin-bottom: 20px;
      @media (min-width: $iphone6) {
        margin-bottom: 24px;
      }
      @media (min-width: $ipad-mini) {
        margin-bottom: 38px;
      }
    }
  }
  @media (min-width: $ipad-pro) {
    img, figure {
      width: calc(50% - 19px);
      &:not(:last-child) {
        margin-bottom: 0;
        margin-right: 38px;
      }
    }
  }
}

.report:not(:first-child) {
  margin-top: 16px;
  @media (min-width: $iphone6) {
    margin-top: 23px;
  }
  @media (min-width: $ipad-mini) {
    margin-top: 38px;
  }
}

.report {
  overflow: auto;
  img {
    display: block;
    width: 100%;
    margin-top: 30px;
    @media (min-width: $iphone6) {
      margin-top: 35px;
    }
    @media (min-width: $ipad-mini) {
      margin-top: 55px;
    }
    @media (min-width: $ipad-pro) {
      margin-top: 30px;
    }
  }
}

