.page {
  position: relative;
  overflow-y: scroll;
  max-width: 1000px;
  -webkit-overflow-scrolling: touch;
  margin: 20px;
  margin-bottom: 30px;
  .link-group {
    float: none !important;
    margin-bottom: 0;
    .link-group__links {
      display: block;
      margin: 0;
    }
    .link-group__link {
      font-size: 21px;
    }
    .link-group__button {
      margin: 30px 15px 0 0;
    }
    @media (min-width: $iphone6) {
      .link-group__link {
        font-size: 16px;
      }
      .link-group__button {
        margin: 16px 18px 0 0; 
      }
    }
    @media (min-width: $ipad-mini) {

    }
    @media (min-width: $ipad-pro) {
      .link-group__link {
        font-size: 22px;
      }
      .link-group__button {
        margin: 30px 20px 0 0; 
      }
      padding-top: 15px;
    }
  }
  @media (min-width: $iphone6) {
    margin: 23px;
    margin-bottom: 33px;
  }
  @media (min-width: $ipad-mini) {
    margin: 30px;
    margin-bottom: 50px;
  }
  @media (min-width: $ipad-pro) {
    margin-top: 60px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
  }
}

#map {
  width: 100%;
  height: 200px;
  margin-top: 40px;
  background-color: grey;
  @media (min-width: $iphone6) {
    margin-top: 35px;
  }
  @media (min-width: $ipad-mini) {

  }
  @media (min-width: $ipad-pro) {
    height: 600px;
    margin-top: 55px;
  }
}

.page__heading {
  color: $dominant-color;
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 21px;
  @media (min-width: $iphone6) {
    font-size: 25px;
    margin-top: 72px;
    margin-bottom: 20px;
  }
  @media (min-width: $ipad-mini) {
    font-size: 36px;
    margin-top: 80px;
    margin-bottom: 20px;
  }
  @media (min-width: $ipad-pro) {
    font-size: 55px;
    margin-top: 65px;
    margin-bottom: 45px;
  }
}

.page__paragraph {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 30px;
  @media (min-width: $iphone6) {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 35px;
  }
  @media (min-width: $ipad-mini) {
    font-size: 24px;
    line-height: 39px;
    margin-bottom: 55px;
  }
  @media (min-width: $ipad-pro) {
    font-size: 22px;
    line-height: 40px;
    margin-bottom: 30px;
  }
}

.reports__table {
  display: none;
  font-size: 24px;
  width: 100%;
  thead {
    tr {
      background: $dominant-color;
    }
    th {
      text-align: left;
      color: $white;
      padding: 20px 0 16px 30px;
    }
  }
  tbody {
    background-color: #F0F0F0;
    tr:nth-of-type(odd) {
      background-color: #FAF9F9;
    }
    td {
      padding: 20px 0 16px 30px;
    }
  }
  @media (min-width: $ipad-pro) {
    display: table;
  }
}

.page {
  overflow: auto;
  & > img {
    display: block;
    width: 100%;
    padding-top: 30px;
    @media (min-width: $iphone6) {
      padding-top: 35px;
    }
    @media (min-width: $ipad-mini) {
      padding-top: 55px;
    }
    @media (min-width: $ipad-pro) {
      padding-top: 15px;
      padding-bottom: 60px;
    }
  }
}

.page {
  .landscape, .portrait {
    &:not(:last-child) {
      margin-bottom: 30px;
      @media (min-width: $iphone6) {
        margin-bottom: 35px;
      }
      @media (min-width: $ipad-mini) {
        margin-bottom: 55px;
      }
      @media (min-width: $ipad-pro) {
        margin-bottom: 40px;
      }
    }
    figure {
      img {
        width: 100%;
      }
      figcaption {
        display: inline-block;
        font-size: 14px;
        margin-top: 16px;
        @media (min-width: $iphone6) {
          font-size: 16px;
          margin-top: 19px;
        }
        @media (min-width: $ipad-mini) {
          margin-top: 31px;
          font-size: 24px;
        }
        @media (min-width: $ipad-pro) {
          margin-top: 18px;
          font-size: 22px;
        }
      }
    }
  }
  .portrait {
    img:not(:last-child) {
      margin-bottom: 0;
    }
  }
}