.main {
  background: $light-grey;
  padding: 50px 0;
  height: 100%;
  width: 1000px;
  margin: 0 auto;
}

 .content__container {
    height: 100%;
    float: left;
    width: calc(100% - 280px);
 }

.content-trail {
  height: 50px;
  line-height: 50px;
  a, span {
    color: $dark-grey;
  }
  span {
    margin: 0 5px;
  }
}

.content__header {
  background: $dominant-color;
  height: 50px;
  vertical-align: middle;
  position: relative;
  font-size: 16px;
}

.content__header__heading {
  margin: 17px 30px;
  float: left;
  color: $white;
}

.content__header__add {
  padding: 17px 30px;
  display: block;
  float: right;
  color: $white;
}

.content {
  padding: 30px;
  background: $white;
  min-height: 100%;
}

.content__overview {
  margin-top: 30px;
  border-spacing: 0 10px;
  border-collapse: separate;
  width: 100%;
}

.overview__header {
  color: $dominant-color;
  th {
    text-align: left;
    padding: 0 20px;
  }
}

.overview__results {
  tr {
    border-radius: 10px;
    cursor: pointer;
  }
  td {
    padding: 10px 0 10px 20px;
    background: $light-grey;
    &:first-child {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
    &:last-child {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
}

.edit-cell {
  a {
    font-size: 0;
    &::before {
      content: '\00270E';
      font-size: 18px;
      color: $dark-grey;
    }
  }
}

td.edit-cell, td.destroy-cell {
    padding-right: 20px;
    padding-left: 0;
    width: 20px;
}

.destroy-cell {
  button {
    height: 10px;
    text-indent: -9999px;
    display: block;
    position: relative;
    height: 10px;
    width: 10px;
    &::before, &::after {
      background: $red;
      content: '';
      height: 3px;
      left: 25%;
      position: absolute;
      top: 50%;
      width: 17px;
    }
    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
  }
}

.result-status {
  height: 20px;
  width: 20px;
  background: $white;
  border-radius: 50%;
  position: relative;
  transition: background 200ms linear;
  &:hover {
    background: $dominant-color;
  }
}

.result-status--active {
  height: 10px;
  width: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -5px;
  margin-left: -5px;
  border-radius: 50%;
  background: $dominant-color;
}

.input__container {
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.input__label {
  margin: 0 20px;
  color: $dominant-color;
  font-size: 16px;
}

.input__textfield, .input__textarea, .input__select, .input__file {
  margin-top: 10px;
  width: 100%;
  padding: 11px 20px;
  background: $light-grey;
  font-size: 14px;
  border-radius: 5px;
  box-sizing: border-box;
}

.input__textarea {
  resize: vertical;
  height: 250px;
}

.input__select {
  padding: 11px 20px;
  appearance: none;
}

.input__controls {
  margin-top: 80px;
  text-align: center;
  font-size: 0;
}

.input__button--submit, .input__button--abort {
  width: 150px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  padding: 17px 0;
  color: $white;
}

.input__button--submit {
  background: $dominant-color;
  margin-left: 10px;
  &:hover {
    background: lighten($dominant-color, 5%);
  }
}

.input__button--abort {
  background: $light-grey;
  margin-right: 10px;
  &:hover {
    background: darken($light-grey, 5%);
  }
}

.overview__cover {
  font-size: 0;
  li {
    position: relative;
    display: inline-block;
    width: 22%;
    cursor: pointer;
    padding-bottom: 22%;
    max-height: none;
    margin-right: 4%;
    margin-bottom: 4%;
    border-radius: 10px;
    &:nth-of-type(4n) {
      margin-right: 0;
    }
  }
}


.thumbnails {
  font-size: 0;
  list-style: none;
  width: 100%;
  li {
    user-select: none;
    display: inline-block;
    position: relative;
    width: 22%;
    cursor: pointer;
    padding-bottom: 22%;
    max-height: none;
    margin-right: 4%;
    margin-bottom: 4%;
    border-radius: 10px;
    overflow: hidden;
    &:nth-of-type(4n) {
      margin-right: 0;
    }
  }
  .thumbnail {
    &.selected img {
      filter: invert(100%);
    }
    position: absolute;
    img {
      width: 150%;
    }
  }
}

.sortable-ghost { opacity: 0; }
