$black: #2a2b2b;
$white: #ffffff;
$dominant_color: #38a9db;
$grey: #f2f1f2;

html, body {
  height: 100%;
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

::placeholder {
  color: $black;
}

body {
  margin: 0;
  padding: 0;
}

.login {
  background: $dominant_color;
  height: 100%;
}

.login__panel {
  background: $white;
  width: 600px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -300px;
  border-radius: 10px;
  overflow: auto;
  box-sizing: border-box;
  padding: 50px;
  .text-field {
    margin-bottom: 20px;
  }
}

.panel__heading {
  font-weight: 100;
  font-size: 28px;
  margin: 0;
  margin-bottom: 30px;
  color: $dominant_color;
}

.text-field {
  width: 100%;
  background: $grey;
  box-sizing: border-box;
  padding: 11px 20px;
  color: $black;
  border-radius: 8px;
  border: none;
  font-size: 16px;
}

.login__button {
  margin: 40px auto 0 auto;
  color: $white;
  background: $dominant_color;
  cursor: pointer;
  width: 150px;
  font-size: 20px;
  padding: 15px 0;
  display: block;
  border-radius: 8px;
  border: none;
  &:hover {
    background: lighten($dominant_color, 10%);
  }
}

.login__remember, .login__recover {
  color: $dominant-color;
  font-size: 16px;
}

.login__remember {
  margin-left: 20px;
  cursor: pointer;
  input { margin-left: 10px }
}

.login__recover {
  text-decoration: none;
  float: right;
}
