.header {
  background: $white;
  height: 60px;
}

.wrapper {
  width: 1000px;
  margin: 0 auto;
}

.header__heading {
  font-size: 20px;
  float: left;
  width: 250px;
  padding: 28px 0 0 20px;
  margin-right: 30px;
}

.menu__list-item {
  float: left;
  font-size: 0;
  padding: 0 10px;
}

.menu__list-item__anchor, .menu__list-item__button {
  font-size: 17px;
  padding: 30px 5px 13px;
  display: inline-block;
  color: $dominant-color;
  outline: none;
  &:hover {
    border-bottom: 2px solid $dominant-color;
  }
}

.menu__list-item__button {
  display: block;
}
