.submenu {
  width: 250px;
  margin: 50px 30px 0 0;
  float: left;
}

.module {
  font-size: 16px;
  &:not(:last-child) {
    padding-bottom: 30px;
  }
}

.module__heading {
  display: block;
  padding: 17px 20px;
  background: $dominant-color;
  color: $white;
}

.module__add {
  display: block;
  padding: 17px 20px;
  color: $dominant-color;
  background: $white;
}
